<section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="assets/img/1.png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title display-6">Margherita </h5>
          <p class="card-text">
            -Individuelle 7.9dt <br>
            -Double 14.9dt<br>
             -Triple 19.9dt <br>
            Mozzarella Et Sauce Tomate Aux Herbes.
          </p>
          <a routerLink="/chariot" routerLinkActive="active" class="nav-link nav-item" class="btn btn-outline-success btn-lg" style="padding: 10px; margin-left:90px;"> + ADD </a>
         
        </div>
       </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="assets/img/3.png" alt="" class="card-img-top">
          <div class="card-body">
            <b><h5 class="card-title display-6">Thon</h5></b>
            <p class="card-text">
                -Individuelle 8.9dt <br>
                -Double 17.9dt <br>
                -Triple 24.9dt <br>
                Thon, Poivrons Verts, Oignons, Tomate Fraîche, Mozzarella Et Sauce Tomate
                Aux Herbes
                
            </p>
            <a routerLink="/chariot" routerLinkActive="active" class="nav-link nav-item" class="btn btn-outline-success btn-lg" style="padding: 10px; margin-left:90px;"> + ADD </a>
           
          </div>
         </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
              <img src="assets/img/4.png" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title display-6">Végétarienne</h5>
                <p class="card-text">
                    -Individuelle 8.9dt<br> -Double 17.9dt <br> -Triple 24.9dt<br>
                    Champignons, Poivrons Verts, Oignons, Tomates Fraîches, Olives Noires, Mozzarella Et Sauce Tomate Aux Herbes.
                </p>
                <a routerLink="/chariot" routerLinkActive="active" class="nav-link nav-item" class="btn btn-outline-success btn-lg" style="padding: 10px; margin-left:90px;"> + ADD </a>
               
              </div>
             </div>
            </div>
            <div class="col-lg-4 mb-4 " style="margin-left: 140px;">
                <div class="card">
                  <img src="assets/img/5.png" alt="" class="card-img-top">
                  <div class="card-body ">
                    <h5 class="card-title display-6">Pepperoni </h5>
                    <p class="card-text">
                        -Individuelle 9.9dt <br> -Double 19.9dt <br> -Triple 27.9dt<br>
                        Extra Portion De Pepperoni, Mozzarella Et Sauce Tomate Aux Herbes.
                    </p>
                    <a routerLink="/chariot" routerLinkActive="active" class="nav-link nav-item" class="btn btn-outline-success btn-lg" style="padding: 10px; margin-left:90px;"> + ADD </a>
                   
                  </div>
                 </div>
                </div>
                <div class="col-lg-4 mb-4" style="margin-left: 40px;">
                    <div class="card">
                      <img src="assets/img/6.png " alt="" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title display-6"> Fruits De Mer</h5>
                        <p class="card-text">
                            -Individuelle 11.9dt <br> -Double 23.9dt <br> -Triple 31.9dt <br>
                            Crevettes, Calamars, Mozzarella, Tomates Fraîches, Citron, Persil  Et Olives Noires.
                        </p>
                       <a routerLink="/chariot" routerLinkActive="active" class="nav-link nav-item" class="btn btn-outline-success btn-lg" style="padding: 10px; margin-left:90px;"> + ADD </a>
                       
                      </div>
                     </div>
                    </div>

    
    </div>
  </div>
  </section>