<header class="header">
          <!-- Top Bar -->
          <div class="top_bar">
              <div class="container">
                  <div class="row">
                      <div class="col d-flex flex-row">
                          <div class="logo">
                                  <a routerLink="" routerLinkActive="active">Welcome to Ameni's</a>
                          </div>
                          <div class="top_bar_content ml-auto">
                              <div class="top_bar_user">
                                  <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                  
                                  <div><a routerLink="/register">S'inscrire </a></div>
                                  <div><a routerLink="/login">Se Connecter</a></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!-- Header Main --> 
          <section class="nav justify-content-center">
            <nav class="nav nav-item">
               <a routerLink="" routerLinkActive="active"class=" nav-link nav-item">Accueil</a>
               <a routerLink="/carousel" routerLinkActive="active" class=" nav-link nav-item">Menu</a>
               <a routerLink="/pizza" routerLinkActive="active" class="nav-link nav-item" >Pizza</a>
               <a routerLink="/chariot" routerLinkActive="active" class="nav-link nav-item" >Chariot</a>
               <a routerLink="/contact" routerLinkActive="active" class="nav-link nav-item">Contact</a>
             </nav>
            </section>         
</header>