
      <section>
                <div class="col text-center">
                <div class="col-md-6 ">
                    <div class="card border-0 ">
                        <div class="card-body">
                            <h5 class="card-title "><b>Alerte</b></h5>
                            <p class="card-text ">
                                Vérifiez votre courrier pour confirmation
                            </p>
                                
                             <button type="button" class="btn btn-success btn-round-lg btn-lg"> Confirmation </button>
                        </div>
                    </div>
                </div>
                </div>
</section>