<section>
    
    <div class="panel-body"> 

    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Pizza</th>
            <th>Description</th>
            <th>Quantité</th>
            <th> Prix</th>
            <th>Totale</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Thon</td>
                <td><strong></strong><p>Double</p></td>
                <td>
                <form class="form-inline">
                    <input type="number"/>
                </form>
                </td>
                <td>17.9dt</td>
                <td>17.9dt</td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" class="text-right"><strong>Totale</strong></td>
                <td>17.9dt</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="button">
<a routerLink="/pizza" routerLinkActive="active"class=" nav-link nav-item"class="btn btn-success"style="margin-right:50px;">Retour </a>
<a routerLink="/checkout" routerLinkActive="active"class=" nav-link nav-item" class="btn btn-primary pull-right">Suivant</a>
</div>
</div>
</section>
